.App {
  position: absolute;
  height: 100%;
}

.App-logo {
  height: 80px;
  margin-right: 35px;
  z-index: 0;
}

.line {
  height: 100%;
  width: 100px;
  position: absolute;
  background: #F3DFC2;
  left: 60px;
  top: 0;
  bottom: 0;
}

.App-header {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  z-index: 5;
}

.App-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5em;
  text-align: center;
  color: #C2A07C;
  display: flex;
  align-items: baseline;
}

.App-title span {
  color: #A7BABB;
  margin-left: 30px;
  font-size: 38px;
}

.App-intro {
  font-size: large;
}
