body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #F3DFC2;
  background: #FFF;
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}
.col {
  display: flex;
  flex-direction: column;
}

.prodTitle {
  font-family: 'Abril Fatface', cursive;
  color: #A7BABB;
  flex: 1 0 100%;
}

.sectionTitle {
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
  padding: 5px 0;
  border-top: 1px solid #C2A07C;
  border-bottom: 1px solid #C2A07C;
}

.sectionText {
  color: #222222;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;

}

.prodDesc {
  margin: 0 15px;
  padding: 20px 30px;
  flex: 1 0 30%;
}

.storeList {
  list-style: none;
  text-align: left;
  padding-left: 10px;
}

.prodList {
  display: flex;
}

.prodThumb {
  width: 160px;
  align-self: flex-start;
}

.prodImg {
  width: 250px;
  align-self: flex-start;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
}
.close svg {
  color: white;
  fill: white;
  width: 25px;
}