body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #FFF;
  text-align: left;
}

h4 {
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4em;
  margin-left: 100px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}
.col {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
  padding: 5px 0;
  border-top: 1px solid #C2A07C;
  border-bottom: 1px solid #C2A07C;
}

.sectionText {
  color: #222222;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;

}

.prodDesc {
  margin: 0 35px 0 15px;
  padding: 20px 70px 0 10px;
  flex: 1 0 30%;
}

.storeList {
  list-style: none;
  text-align: left;
  padding-left: 10px;
}

.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 5px;
}

.product:hover {
  cursor: pointer;
}

.productImage {
  position: relative;
}

.prodThumb {
  width: 160px;
}

.prodImg {
  width: 250px;
  align-self: flex-start;
}

.productDetails {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  text-transform: uppercase;

}
.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 18px;
}
.close svg {
  color: #C2A07C;
  fill: #C2A07C;
  width: 35px;
}

.imgHoverLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  color: #222;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  font-weight: 700;
  letter-spacing: 1px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.productImage:hover .imgHoverLayer {
  visibility: visible;
  opacity: 1;
}

.imgHover {
  transition: .2s;
  transform: translateY(1em);
}

.productImage:hover .imgHover {
  transform: translateY(0);
}